* {
  --primary: rgba(6, 164, 255, 0.717);
  --primary-light: #ecf5ff;
  --primary-havy: #409eff;
  --primary-hover: #66b1ff;
  --primary-box-shadow: rgba(1, 166, 255, 0.429);
  --light-gray-background: #e3e5e7;
  --gray-box-shadow: rgba(128, 128, 128, 0.381);
  --gray-border: rgba(228, 228, 228, 0.5);
  --box-background: #f8f9fabb;
  --modal-background: rgba(0, 0, 0, 0.5);
  --danger: #f56c6c;
  --danger-light: #ffd4d4;
  --success-light: #e6ffe6;
  --success: #66cc66;
  --main: #ecf5ff;
  --warning: #ffaa00;
  --warning-light: #ffeecc;
}

/* @import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
